a.nav-item:not(.button).is-tab.is-active {
  border-bottom: 3px solid #549fff;
  color: #549fff;
}

a.nav-item:not(.button).is-tab:hover {
  border-bottom-color: #549fff;
}

a.media-left {
  margin-right: 1.3rem;
}

.nav-toggle.is-active span {
  background-color: #549fff;
}

.logo-lg {
  width: 112px;
  height: 28px;
}

.logo-lg .st0 {
  fill: #549fff;
}

.media-content a {
  color: #076ff6;
}

.media-content a:hover {
  color: #363636;
}

.about-icon {
  width: 42px;
  height: 42px;
}

.about-icon .st0 {
  fill: #58595b;
}

.about-icon .st1 {
  fill: none;
}

.footer-icon,
.ldin,
.gml,
.gh {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.footer-icon path {
  fill: #549fff;
}

.footer-icon:hover path {
  fill: #58595b;
}

.ldin .st0,
.ldin .st1,
.gml .st0,
.gh .st0 {
  fill: none;
  stroke: #549fff;
  stroke-miterlimit: 10;
}

.ldin .st1 {
  width: 1.3px;
  height: 4px;
}

.ldin .st0,
.ldin .st1 {
  stroke-width: 0.3;
}

.gh .st0 {
  stroke-width: 0.35;
}

.gml .st0 {
  stroke-width: 0.55;
}

.ldin:hover .st0,
.ldin:hover .st1,
.gml:hover .st0,
.gh:hover .st0 {
  fill: none;
  stroke: #58595b;
  stroke-miterlimit: 10;
}

.feather-icon {
  width: 26px;
  height: 26px;
  fill: none;
  stroke: #549fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.feather-icon:hover path,
.feather-icon:hover polyline,
.feather-icon:hover line {
  stroke: #58595b;
}
