body {
  padding-top: 52px;
}

.navbar {
  position: fixed !important;
  background-color: #fff;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

a.navbar-item:not(.button) {
  color: #363636;
}

a.navbar-item:not(.button):hover {
  color: #212121;
}

a.navbar-item:not(.button).is-tab.is-active {
  border-bottom: 3px solid #549fff;
  color: #076ff6;
}

a.navbar-item:not(.button).is-tab:hover {
  border-bottom-color: #549fff;
}

.navbar.has-shadow {
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .2);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2);
}

a.media-left {
  margin-right: 1.3rem;
}

.navbar-burger.is-active span {
  background-color: #549fff;
}

.logo-lg {
  width: 112px;
  height: 28px;
}

.logo-lg .st0 {
  fill: #549fff;
}

.media-content a {
  color: #076ff6;
}

.media-content a:hover {
  color: #363636;
}

.about-icon {
  width: 42px;
  height: 42px;
}

.about-icon .st0 {
  fill: #58595b;
}

.about-icon .st1 {
  fill: none;
}

.footer-icon,
.ldin,
.gml,
.gh,
.wdp {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.footer-icon path {
  fill: #549fff;
}

.footer-icon:hover path {
  fill: #58595b;
}

.ldin .st0,
.ldin .st1,
.gml .st0,
.wdp .st0,
.gh .st0 {
  fill: none;
  stroke: #549fff;
  stroke-miterlimit: 10;
}

.ldin .st1 {
  width: 1.3px;
  height: 4px;
}

.ldin .st0,
.ldin .st1 {
  stroke-width: 0.3;
}

.gh .st0 {
  stroke-width: 0.35;
}

.wdp .st0 {
  stroke-width: 2.5;
}

.gml .st0 {
  stroke-width: 0.55;
}

.ldin:hover .st0,
.ldin:hover .st1,
.gml:hover .st0,
.gh:hover .st0,
.wdp:hover .st0 {
  fill: none;
  stroke: #58595b;
  stroke-miterlimit: 10;
}

.feather-icon {
  width: 26px;
  height: 26px;
  fill: none;
  stroke: #549fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.feather-icon:hover path,
.feather-icon:hover polyline,
.feather-icon:hover line {
  stroke: #58595b;
}
