a.nav-item:not(.button).is-tab.is-active {
  border-bottom: 3px solid #549fff;
  color: #549fff;
}

a.nav-item:not(.button).is-tab:hover {
  border-bottom-color: #549fff;
}

a.media-left {
  margin-right: 1.3rem;
}

.nav-toggle.is-active span {
  background-color: #549fff;
}

.logo-lg {
  width: 112px;
  height: 28px;
}

.logo-lg .st0 {
  fill: #549fff;
}

.media-content a {
  color: #076ff6;
}

.media-content a:hover {
  color: #363636;
}

.about-icon {
  width: 42px;
  height: 42px;
}

.about-icon .st0 {
  fill: #58595b;
}

.about-icon .st1 {
  fill: none;
}

.footer-icon,
.ldin,
.gml {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.footer-icon path {
  fill: #549fff;
}

.footer-icon:hover path {
  fill: #58595b;
}

.ldin .st0,
.gml .st0 {
  fill: none;
  stroke: #549fff;
  stroke-miterlimit: 10;
}

.ldin .st0 {
  stroke-width: 0.25;
}

.gml .st0 {
  stroke-width: 0.65;
}

.ldin:hover .st0,
.gml:hover .st0 {
  fill: none;
  stroke: #58595b;
  stroke-miterlimit: 10;
}
